[submodule "Daily_DSA"]
	path = Daily_DSA
	url = https://github.com/rohitaragde/Daily_DSA
[submodule "Daily-Python-Essentials"]
	path = Daily-Python-Essentials
	url = https://github.com/rohitaragde/Daily-Python-Essentials
[submodule "Daily_System_Design"]
	path = Daily_System_Design
	url = https://github.com/rohitaragde/Daily_System_Design
[submodule "Daily_Pyspark"]
	path = Daily_Pyspark
	url = https://github.com/rohitaragde/Daily_Pyspark
[submodule "Daily_Shell_Scripting"]
	path = Daily_Shell_Scripting
	url = https://github.com/rohitaragde/Daily_Shell_Scripting
[submodule "SQL50"]
	path = SQL50
	url = https://github.com/rohitaragde/SQL50
